
{% extends 'base.html' %}
{% block content %}

<head>
    <title>TODO LIST</title>
    <!--INCLUDING BOOTSTRAP-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/todolist/style.css">
    
</head>

  <body>
    <div style="align-items: center;"class="wrapper" id="header">
        <!-- HEADER -->
        <div class="header pl-8">
            <div class="d-flex">
              <div class="mr-auto mb-auto mt-auto">
                <h1 class="primary-heading">My Todo</h1>
              </div>
              <div class="p-3">
                <p>{{ username }}</p></div>
              </div>
            </div>
        </div>

        <div class="separator" style="padding:1px ;" ></div>

        <!-- BODY -->
        <div class="body">
          <!-- Button trigger modal -->
            <button type="button" data-toggle="modal" data-target="#modalCreateTask">
              Create Task
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modalCreateTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <!--Modal Header-->
                  <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">Create Task</h1>
                  </div>
                  <!--Modal Body-->
                  
                  <div class="modal-body">
                    <form method="POST" action="" id="add-task-form">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                          <input type="text" id="title-input" class="form-control" name="title" placeholder="Title" required />
                        </div>
    
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control" name="description" placeholder="Description" required />
                        </div>
                    </form>
                  </div>
                 
                  <!--Modal Footer-->
                  <div class="modal-footer">
                    <button type="button"  data-dismiss="modal">Close</button>
                    <button type="button"  id="add-task">Add Task</button>
                  </div>
                </div>
              </div>
            </div>
  
            
            <div class="container">
              <div class="row" id="todos-card"></div>
            </div> 
            

            <div class="footer" style="padding-top: 70px;">
                <p style="font-size: medium;">last accessed on {{ last_login }}</p>
                <button style="background-color: #8c1c13;"><a style="color: #f4f7f6;"href="{% url 'todolist:logout' %}", class="custom-alert-button">Logout</a></button>
            </div>
        </div>
        
       
       

    </div>
  </body>
  <script src="../static/todolist/js/script.js" type="text/javascript"></script>
  {% endblock content %}

