{% extends 'base.html' %}
{% block content %}
<style>

body {
    background-color: #a7cced;
}
.header {
    padding: 20px;
    background-color: #edf6ff;
    text-align: center;
}
.primary-heading {
    font-family: "Raleway", sans-serif;
    font-size: xx-large;
    color: #014f86;
    margin-bottom: 8px;
    margin-top: 8px;
}
.body {
    background-color: #edf6ff;
    padding-top: 16px;
    padding: 16px;
}

.footer {
    margin-top: 32px;
}
button {
    border-radius: 5px;
    background-color: #168aad;
    border: black;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    color: black;
}
button:active{
  background-color: #caf0f8;
}
a {
    color: #feffff;
    font-size: 14px;
    text-decoration-line: none;
}

#todos {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family:"Raleway", sans-serif;
    border-collapse: collapse;
    width:100%;
    outline-color: black;
}

#todos tr:nth-child(odd){background-color: #ffffff;}

#todos tr:hover {background-color: #caf0f8;}

#todos td, #todos th {
  border: none;
  padding: 8px;
  text-align: center;
}

#todos th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #014f86;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
}

p {
    margin-top: 10px;
    font-size: large;
    color: #17252a;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;

}

#done {
  background-color: #dbeddb;
  padding: 5px 31px;
  color: #223d2e;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 0px 1px 0px rgb(0,0,0);
}

#inprogress {
  background-color: #fdecc8;
  padding: 5px 10px;
  color: #453120;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 0px 1px 0px rgb(0,0,0);
}
</style>


<body>
  <div style="align-items: center;"class="wrapper">

    <div class="header">
      <h2 class="primary-heading">Welcome to To Do List!</h2>
      <p>Username: {{ username }}</p>
    </div>

    <div class="separator" style="color: black; margin:10px"></div>

    <div class="body">
    <table style="padding: 10px;" id="todos">
      <thead>
        <tr>
          <th >Created On</th>
          <th >Title</th>
          <th >Description</th>
          <th >Status</th>
          <th >Action</th>
        </tr>
      </thead>

      <tbody>
      {% for todo in todos %}
        <tr>
          <td>{{ todo.date }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>

          {% if todo.is_finished %}
            <td>
              <button id="done">Done</button>
            </td>
          {% else %}
            <td>
              <button id="inprogress">In Progress</button>
            </td>
          {% endif %}
          <td style="text-align:center;">
            <button><a href="{% url 'todolist:update' todo.pk %}", class="custom-update-button">Update</a></button>
            <button><a href="{% url 'todolist:delete' todo.pk %}", class="custom-delete-button">Delete</a></button>
          </td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
    <button style="margin-top: 16px;"> <a href="{% url 'todolist:create' %}", class="custom-primary-button">Tambah Task</a></button>

    <div class="footer" style="padding-top: 70px;">
        <p style="font-size: medium;">last accessed on {{ last_login }}</p>
        <button style="background-color: #8c1c13"><a href="{% url 'todolist:logout' %}", class="custom-alert-button">Logout</a></button>
    </div>

    </div>
  </div>
</body>
{% endblock content %}